{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat With Me</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
    <h1 class="heading">Group: {{group_name}}</h1>
    <textarea name="" id="chat-log" cols="100" rows="25" value=''>
        {% for chat in chats %}
            {{chat.content}}
        {% endfor %}
    
    </textarea><br>
    <input type="text" id="chat-message-input", size="101"><br>
    <input type="button" value="Send" id="chat-message-submit"><br>
    {{group_name | json_script:"group_name"}}

    <script src="{% static "js/script.js" %}"></script>
</body>
</html>